*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#nav{
    display: flex;
    justify-content:space-around;
    background-color: black;
}
.link{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: sans-serif;
    font-style: normal;
    padding: 10px;
}